<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- dubbo:annotation package="com.icbc.wfs" / -->
	
	<context:component-scan base-package="com.icbc.wfs" />
	<dubbo:application name="wfs" />
	<dubbo:registry id="dubboregistry1" protocol="zookeeper"  address="zookeeper:2181" />
	<dubbo:protocol name="hessian" port="8080" server="servlet" />
	<dubbo:provider timeout="300000" />
	
	<dubbo:service interface="com.icbc.wfs.service.WfsIO" ref="wfsIOImpl" version="0.0.1" />
	
	<dubbo:service interface="com.icbc.wfs.service.WfsPut" ref="wfsPutImpl" version="0.0.1" group="0-8-A" />
	<dubbo:service interface="com.icbc.wfs.service.WfsGet" ref="wfsGetImpl" version="0.0.1" group="0-8-A" />
	<dubbo:service interface="com.icbc.wfs.service.WfsEdit" ref="wfsEditImpl" version="0.0.1" cluster="forking" group="0-8-A" />
	<dubbo:consumer timeout="300000" check="false"/>
	<dubbo:reference id="wfsPut" interface="com.icbc.wfs.service.WfsPut" version="0.0.1" group="*" scope="remote" />
	<dubbo:reference id="wfsGet" interface="com.icbc.wfs.service.WfsGet" version="0.0.1" group="*" scope="remote" />
	<dubbo:reference id="wfsEdit" interface="com.icbc.wfs.service.WfsEdit" version="0.0.1" group="*" scope="remote" />
	
	<bean id="routerInitializer" class="com.icbc.dubbo.router.RouterInitializer">
		<property name="registryClient" ref="registryClient" />
	</bean>
	<bean id="registryClient" class="com.icbc.dubbo.zk.ZKRegistryClient">
		<property name="registryConfig" ref="dubboregistry1" />
	</bean>
	
</beans>