<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       
	<!-- dubbo:annotation package="com.icbc.wfs" /-->
	<context:component-scan base-package="com.icbc.wfs" />
	<dubbo:application name="wfsTest" />
	<dubbo:registry protocol="zookeeper" address="122.19.29.80:2181" />
	<dubbo:reference id="wfsPut" interface="com.icbc.wfs.service.WfsPut" version="0.0.1" group="*" />
	
</beans>